html{
  background-color:#a8a6a5;
  font-family: cursive;
  font-size: 1.3em;
}
header{
  text-align: center;
}
#photo{
  float: left;
}
span{
  font-style: italic;
}
#about{
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}
#prof{
  float:left;
  margin:auto;
}
#work{
  float:right;
  margin: auto;
}
#lead{
  float: left;
  margin: auto;
}
#soma{
  float: right;
  margin: auto;
}
